<div class="container-fluid py-4">
  
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">User Role table</h6>
                <a  href="/admin/user-role/add"  class="btn btn-primary btn-rounded float-lg-end" style="margin-top:30px;">
                Add User Role
                </a>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Serial No</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">User Role</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-secondary opacity-7">Operation</th>

                    </tr>
                  </thead>
                  <tbody>
                    
                    
                    {{#if result}}
                      {{#each result}}                     
                    <tr>
                      <td>
                        <h2 class="text-xs text-secondary mb-0"> {{this.serial_no}}</h2>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0"> {{this.user_role_name}}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        
                          {{#if this.status}}
                          <a href="/admin/user-role/status-change/{{this._id}}">
                            <span class="badge badge-sm bg-gradient-primary"> Active </span>
                          </a>
                          {{else}}
                          <a href="/admin/user-role/status-change/{{this._id}}">
                            <span class="badge badge-sm bg-gradient-secondary"> InActive </span>
                           </a>
                          {{/if}}
                        </a>
                      </td>
                      <td class="align-middle">
                        <a type="button" class="badge badge-sm bg-gradient-warning" href="/admin/user-role/edit/{{this._id}}?isedit=true">
                              Edit
                            </a>
                     
                        <button type="button" class="badge badge-sm bg-gradient-warning" data-bs-toggle="modal" data-bs-target="#exampleModal{{this._id}}">
                              Delete
                        </button>
                      </td>
                    </tr>
                    <form action="/admin/user-role/delete" method="post">
                      <input type="hidden" name="property_id" value="{{this._id}}">
                      <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Do you really want to delete this property Type?</h5>
                              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >NO</button>
                              <button type="submit" class="btn btn-primary">YES</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      </form>
                     {{/each}}
                    {{/if}}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>