<footer class="pt-5 pb-3 footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<div class="footer-widget-title">
						<img src="data:;base64, {{#if app_settings}}{{app_settings.logo}}{{/if}}" class="img-fluid">
						<p class="mt-3">{{#if app_settings}}{{app_settings.description}}{{/if}}</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="footer-widget-title">
						<h3>Important Links</h3>
						<ul class="footer-widget-listing">
							<li><a href="/about">About Us</a></li>
							<li><a href="#">How It Works</a></li>
							<li><a href="#">Blogs</a></li>
							<li><a href="#">FAQ's</a></li>
							<li><a href="#">Post Your Project</a></li>
							<li><a href="#">Hire People</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="footer-widget-title">
						<h3>Important Links</h3>
						<ul class="footer-widget-listing">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Refund Policy</a></li>
							<li><a href="#">User Policy</a></li>
							<li><a href="#">Certification Policy</a></li>
							<li><a href="#">Freelance Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="footer-widget-title">
						<h3>Contact Us</h3>
						<p><span class="mr-2"><i class="fas fa-map-marker-alt"></i></span>{{#if app_settings}}{{app_settings.pin_code}} {{app_settings.addres}}, {{#findCity app_settings.state.districts app_settings.city}}{{this}}{{/findCity}} {{app_settings.country}}{{/if}}</p>
						<p><span class="mr-2"><i class="fas fa-envelope"></i></span>{{#if app_settings}}{{app_settings.email}}{{/if}}</p>
						<p><span class="mr-2"><i class="fas fa-phone-alt mr-2"></i></span>{{#if app_settings}}{{app_settings.phone}}{{/if}}</p>
						<div class="footer-widget-listing social-icons-footer mt-4">
							<a href={{#if app_settings}}{{app_settings.facebook_link}}{{/if}}><i class="fab fa-facebook-f"></i></a>
							<a href={{#if app_settings}}{{app_settings.lnstagram_link}}{{/if}}><i class="fab fa-instagram"></i></a>
							<a href={{#if app_settings}}{{app_settings.linkedin_link}}{{/if}}><i class="fab fa-linkedin-in"></i></a>
							<a href={{#if app_settings}}{{app_settings.Twitter_link}}{{/if}}><i class="fab fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="footer-bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="footer-bottom-col-left hh text-white">
						© 2022 Lothal valley Ltd.  All Rights Reserved
					</div>
				</div>
				<div class="col-md-6">
					<div class="footer-bottom-col-left text-right text-white">
						<p>
							Designed and developed by Web Teasor
						</p>
					</div>
				</div>
			</div>
		</div>	
	</div>