<div class="container-fluid py-4">
  {{#if messages}}
    {{messages}}
  {{/if}}
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Authors table</h6>
                <a  href="/property_Type/propertyType_add"  class="btn btn-primary btn-rounded float-lg-end" style="margin-top:30px;">
                Add Property Type
                </a>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Serial No</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Property type</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-secondary opacity-7">Operation</th>

                    </tr>
                  </thead>
                  <tbody>
                    
                    
                    {{#if result}}
                      {{#each result}}                     
                    <tr>
                      <td>
                        <h2 class="text-xs text-secondary mb-0"> {{this.serial_no}}</h2>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0"> {{this.property_type_name}}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <a href="#">
                          {{#if this.status}}
                            <span class="badge badge-sm bg-gradient-primary"> Online </span>
                          {{else}}
                           <span class="badge badge-sm bg-gradient-secondary"> Offline </span>
                          {{/if}}
                        </a>
                      </td>
                      <td class="align-middle">
                        <a type="button" class="badge badge-sm bg-gradient-warning" href="/Property_type/edit_property_Type/{{this._id}}">
                              Edit
                            </a>
                     
                        <button type="button" class="badge badge-sm bg-gradient-warning" data-bs-toggle="modal" data-bs-target="#exampleModal{{this._id}}">
                              Delete
                        </button>
                      </td>
                    </tr>
                    <form action="/property_Type/delete_property_type" method="post">
                      <input type="hidden" name="property_id" value="{{this._id}}">
                      <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Do you really want to delete this property Type?</h5>
                              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >NO</button>
                              <button type="submit" class="btn btn-primary">YES</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      </form>
                     {{/each}}
                    {{/if}}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer py-4  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                for a better web.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>