<!-- START SECTION ABOUT -->
	<section class="login-page">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5 col-md-10 col-12">
					<form class="login" action="/user/signup" method="post">
						<h4 class="mb-4">Sign Up</h4>
						{{#if messages.message}}
                    		{{# each messages.message }}
                      			{{#ifErrorCheck this "agree"}}
                       				<div class="alert alert-danger text-light" role="alert">{{ this.msg }}</div>
                      			{{/ifErrorCheck}}
                    		{{/each}}
                  		{{/if}}
						
						<div class="form-group">
							<input type="type" class="form-control" placeholder="Name" name="name" 
							value={{#if messages.form_value}}
												{{#each messages.form_value }}
													{{this.name}}
												{{/each}}
											{{/if}}>
						</div>
						{{#if messages.message}}
                    		{{# each messages.message }}
                      			{{#ifErrorCheck this "name"}}
                       				<div class="alert alert-danger text-light" role="alert">{{ this.msg }}</div>
                      			{{/ifErrorCheck}}
                    		{{/each}}
                  		{{/if}}
						
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" name="email" 
							value={{#if messages.form_value}}
												{{#each messages.form_value }}
													{{this.email}}
												{{/each}}
											{{/if}}>
						</div>
						{{#if messages.message}}
                    		{{# each messages.message }}
                      			{{#ifErrorCheck this "email"}}
                       				<div class="alert alert-danger text-light" role="alert">{{ this.msg }}</div>
                      			{{/ifErrorCheck}}
                    		{{/each}}
                  		{{/if}}
						
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" name="password" id="">
						</div>
						{{#if messages.message}}
                    		{{# each messages.message }}
                      			{{#ifErrorCheck this "password"}}
                       				<div class="alert alert-danger text-light" role="alert">{{ this.msg }}</div>
                      			{{/ifErrorCheck}}
                    		{{/each}}
                  		{{/if}}
						
						<div class="form-group">
							<div class="phone-list">
								<div class="input-group phone-input">
									<span class="input-group-btn border p-2">
										+91
									</span>
									<input type="text"  class="form-control" placeholder="Phone Number" name="mobile"
									value={{#if messages.form_value}}
												{{#each messages.form_value }}
													{{this.mobile}}
												{{/each}}
											{{/if}} >
								</div>
							</div>
						</div>
						{{#if messages.message}}
                    		{{# each messages.message }}
                      			{{#ifErrorCheck this "mobile"}}
                       				<div class="alert alert-danger text-light" role="alert">{{ this.msg }}</div>
                      			{{/ifErrorCheck}}
                    		{{/each}}
                  		{{/if}}
						<div class="custom-control custom-checkbox mb-3">
							<input type="checkbox" class="custom-control-input" id="customCheck2"  name="agree">
							<label class="custom-control-label" for="customCheck2">I agree to Lothal Valley</label>
						</div>
						<button type="submit" class="btn btn-success btn-block">Sign Up</button>
						<div class="footer-login">
							<p class="m-0">Already registered ? <a href="/user/" class="text-success"> Login</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>